=render partial: 'admin/shared/header', locals: { item: 'производитель'}
=render partial: 'admin/shared/listing_items', collection: @manufacturers, as: :item
=render partial: 'admin/shared/footer', locals: { item: 'manufacturer' }