%ol.product-review-list
  -product.comments.each do |comment|
    %li
      %h4.review-title=comment.title
      -unless comment.picture.blank?
        .row
          .col-md-2
            =image_tag comment.picture.url(:thumb_small)
          .col-md-8
            .review-comment
              %p=comment.body
      -else
        .review-comment
          %p=comment.body

      .review-meta
        %span Отправлено
        %a.author{:href => "#"}=comment.name
        %span -
        %span=t time_ago_in_words(comment.created_at)
        %span назад
