.main-header.background.background-image-heading-blog
	.container
		%h1 Результат поиска
#breadcrumb
	.container
		%ol.breadcrumb
			%li
				=link_to 'Главная', root_path
			%li.active
				%span Результат поиска
.blog-wrapper.blog-nobar
	.container
		.row
			.col-md-9.col-centered
				-if @products.empty?
					%article.post	
						.entry-summary
							.entry-title
								%h2
									К сожалению мы ничего не нашли по запросу
							.entry-excerpt
								%blockquote
									.entry-meta 
										=params[:search]
				-else
					%article.post	
						.entry-summary
							.entry-excerpt
								%blockquote
									.entry-meta 
										="Найдено #{@products.count} товар#{russianize(@products.count)}"
					-@products.each do |product|
						%article.post
							.entry-summary
								.entry-title
									%h2
										=link_to product.name, product
								.entry-excerpt
									%p
										=truncate(product.intro_text, length: 200)
									%p
										=truncate(product.description, length: 100)
								.entry-meta
									%span В категории
									%strong.entry-author
										=link_to product.category.name, products_path(category: product.category.name)
									%span -
									%span.entry-category
										=link_to product.subcategory.name, products_path(category: product.category.name, subcategory: product.subcategory.name)
