%section
  .main-slider-wrapper
    .main-slider.owl-carousel.owl-carousel-inset
      -@hotproducts.each do |hotproduct|
        .main-slider-item
          .main-slider-image
            -unless hotproduct.main_slider_image.blank?
              =image_tag hotproduct.main_slider_image.url(:horizontal_thumb)
          .main-slider-text
            .fp-table
              .fp-table-cell.center
                .container
                  %h3
                    =hotproduct.advertising_main_slider
                  %h2
                    =hotproduct.name
                    %br
                      =price_or_default(hotproduct)
                  .button
                    =link_to "Купить сейчас", hotproduct, class: "btn btn-lg btn-primary margin-right-15"
                    =link_to "Похожие товары", '#', class: "btn btn-lg btn-white btn-outline"
  :javascript
    $(function() {  aweMainSlider(); });
%section.border-bottom
  .container
    .policy-wrapper
      .row
        .col-md-4.col-sm-4.col-xs-8
          .policy
            .policy-icon
              %i.icon.icon-dolar-circle
            .policy-text
              %h4 100% возвращаем деньги
              %p если не понравился товар
          / /.policy
        .col-md-4.col-sm-4.col-xs-8
          .policy
            .policy-icon
              %i.icon.icon-car
            .policy-text
              %h4 Бесплатная доставка
              %p 
                ="При заказе от 5000 #{"\u20BD".encode('utf-8')}"
          / /.policy
        .col-md-4.col-sm-4.col-xs-8
          .policy
            .policy-icon
              %i.icon.icon-telephone
            .policy-text
              %h4 24/7
              %p служба техподдержки
          / /.policy
      / /.row
    / /.policy-wrapper
  / /.container
/ /section
%section
  .container
    .home-products.padding-vertical-60
      -@categories.each_with_index do |category, index|
        .row
          =style_first_div(index) do
            .awe-media.home-cate-media
              .awe-media-header
                .awe-media-image
                  -unless category.vertical_image.blank?
                    =image_tag category.vertical_image.url(:vertical_thumb)
                / /.awe-media-image
                .awe-media-overlay.overlay-dark-50.fullpage
                  .content
                    .fp-table.text-left
                      .fp-table-cell
                        %h2.upper
                          =category.name
                        %p.margin-bottom-50
                          =category.description
                        =link_to 'Все товары', products_path(category: category.name), class: 'btn btn-sm btn-outline btn-white'
                / /.awe-media-overlay
              / /.awe-media-header
            / /.awe-media
          =style_second_div(index) do
            .products.owl-carousel{"data-items" => "3"}
              -category.products.each do |product|
                .product.product-grid
                  .product-media
                    .product-thumbnail
                      =link_to product, method: :get do
                        =image_or_default(product, thumb: :store_front, which_one: 'first', class: 'current' )
                        =image_or_default(product, thumb: :store_front, which_one: 'second')
                        
                    / .product-hover
                    /   .product-actions
                    /     %a.awe-button.product-add-cart{"data-toggle" => "tooltip", :href => "#", :title => "Add to cart"}
                    /       %i.icon.icon-shopping-bag
                    /     %a.awe-button.product-quick-whistlist{"data-toggle" => "tooltip", :href => "#", :title => "Add to whistlist"}
                    /       %i.icon.icon-star
                    /     %a.awe-button.product-quick-view{"data-toggle" => "tooltip", :href => "product-quick-view.html", :title => "Quickview"}
                    /       %i.icon.icon-eye
                    / /.product-hover
                  / /.product-media
                  .product-body
                    %h2.product-name
                      =link_to product.name, product, title: product.name, method: :get
                    / /.product-product
                    .product-category
                      %span Short
                    / /.product-category
                    .product-price
                      %span.amount
                        =price_or_default(product)
                    / /.product-price
                  / /.product-body
                / /.product
.container
  .divider
%section
  .container
    .padding-vertical-50
      .arrivals
        .section-header.center
          %h2 Новые поступления
        / /.section-header
        .products.home-products.owl-carousel{"data-items" => "4"}
          -@latest_products.each do |product|
            .product.product-grid
              .product-media
                .product-thumbnail
                  =link_to product, method: :get do
                    =image_or_default(product, thumb: :store_front, which_one: 'first', class: 'current' )
                    =image_or_default(product, thumb: :store_front, which_one: 'second')
                / /.product-thumbnail
                .product-hover
                  .product-actions
                    %a.awe-button.product-add-cart{"data-toggle" => "tooltip", :href => "#", :title => "Add to cart"}
                      %i.icon.icon-shopping-bag
                    %a.awe-button.product-quick-whistlist{"data-toggle" => "tooltip", :href => "#", :title => "Add to whistlist"}
                      %i.icon.icon-star
                    %a.awe-button.product-quick-view{"data-toggle" => "tooltip", :href => "product-quick-view.html", :title => "Quickview"}
                      %i.icon.icon-eye
                / /.product-hover
              / /.product-media
              .product-body
                %h2.product-name
                  =link_to product.name, product, title: product.name
                / /.product-product
                .product-category
                  %span
                    =product.category.name
                / /.product-category
                .product-price
                  %span.amount
                    =price_or_default(product)
                / /.product-price
              / /.product-body
      / /.arrivals
  / /.container
/ /section