%h3 Ваш заказ Транзистор успешно получен

%p Мы всего лишь хотим сказать, что получили ваш заказ и в скором времени его отправим (вы получите отдельное оповещение)

%table
	%tr
		%th
			Кол-во
		%th
			Описание
		%th
			Стоимость за шт.
		%th
			Доп.услуги
		%td 
			Общая сумма
	=render @order.line_items
	%tr
		%td
			=""
		%td
			Доставка
		%td
			1000.00 руб
		%td 
			=""
		%td
			1000.00 руб
	%tr
		%td{colspan: 5, "align" => "right"}
			=sprintf("%.2f", @order.totalsum + 1000)
			руб