=render partial: 'admin/shared/header', locals: { item: 'тэг'}
=render partial: 'admin/shared/listing_items', collection: @tags, as: :item
=render partial: 'admin/shared/footer', locals: { item: 'tag' }