#content
  .container
    .col-md-12
      %ul.breadcrumb
        %li
          %a{:href => "#"} Главная
        %li Заказ
      .box.text-center
        .row
          .col-sm-10.col-sm-offset-1
            %h1 Спасибо за ваш заказ.
            %p.lead 
              Уважаемый/ая 
              ="#{@order.name}!"
              Ваш заказ №
              =@order.id
              принят и наш менеджер свяжется с вами в ближайшее время по указанному вами телефону:
              =@order.phone
              ="."
            %p.text-muted
              Мы отправили вам письмо с подтверждением заказа на адрес
              =link_to "mailto:#{@order.email}" do
                ="#{@order.email}."