=render partial: 'admin/shared/header', locals: { item: 'размер'}
=render partial: 'admin/shared/listing_items', collection: @sizes, as: :item
=render partial: 'admin/shared/footer', locals: { item: 'size' }