=render partial: 'admin/shared/header', locals: { item: 'цвет'}
=render partial: 'admin/shared/listing_items', collection: @colors, as: :item
=render partial: 'admin/shared/footer', locals: { item: 'color' }