%h1
	Admin::Products#index
%p Find me in app/views/admin/products/index.html.erb

%p 
	Все категории
%p
	-@categories.each do |category|
		=category.name
		%br
		=link_to "Редактировать", edit_admin_category_path(category)

%p
	=link_to "Создать новую категорию", new_admin_category_path