=render 'shared/errors', object: @product, as: 'object'

.row
	=form_for([:admin, @product], html: { multipart: true }) do |f|
		.col-md-1
		.col-md-5
			.box
				%p
					=f.label "Выбрать категорию товара"
					=f.collection_select :category_id, Category.all, :id, :name, { prompt: 'Выбрать категорию' }, class: 'form-control'
				%p
					=f.label "Выбрать подкатегорию товара"
					=f.collection_select :subcategory_id, Subcategory.all, :id, :name, { prompt: 'Выбрать подкатегорию' }, class: 'form-control'
				%p
					=f.label 'Наименование товара'
					=f.text_field :name, class: 'form-control'
				%p
					=f.label 'Вступительный текст'
					=f.cktext_area :intro_text, class: 'form-control'
				%p
					=f.label 'Артикул (если оставить пустым будет браться просто ID товара'
					=f.number_field :sku, class: 'form-control'

				%p
					%h3 Раздел: Опции
					=f.fields_for :options do |builder|
						=render 'option_fields', f: builder
						%br
					/ link_to_add_association 'Добавить опцию', f, :options
					=link_to_add_fields 'Добавить опцию', f, :options
				%p
					%hr
						%h3 Раздел: фотографии
						=f.label 'Загрузить фотографии продукции (идеальный размер - 550 х 580, но программа обрежет их как нужно)'
						=file_field_tag :image, name: "images[]", id: 'fileupload', type: :file, multiple: true

						-if @product.images.any?
							.box
								%h6 Удалить фотографии
								%p
									=f.fields_for :images do |builder|
										=image_tag builder.object.image, width: 120
										=builder.label :_destroy, 'Удалить фотографию'
										=builder.check_box :_destroy
										%br
										%hr.short.alt
				%p
					=f.submit 'Сохранить'
		.col-md-5
			/ .box
			/ 	%p
			/ 		=f.label 'Напряжение (Вольт)'
			/ 		=f.number_field :voltage, class: 'form-control'
			/ 	%p
			/ 		=f.label 'Ток (ампер)'
			/ 		=f.number_field :electric_current, class: 'form-control'
			%p
				%hr
					%h3 Если товар нужно показать на главной в большом баннере
				%p
					=f.label 'Показывать?'
					=f.check_box :hotproduct
				%p
					=f.label 'Загрузить большую фото (1450 на 500 лучше всего)'
					=f.file_field :main_slider_image, type: :file

					-if @product.main_slider_image?
						.box
							%h6 Для удаления текущей фото просто перезалей новое фото
							%p
								=image_tag @product.main_slider_image, width: 120

				%p
					=f.label 'Небольшой рекламный текст (3-5 слов)'
					=f.text_field :advertising_main_slider
			.box
				%p
					%hr
						%h3 Тэги товара
				%p
					=collection_check_boxes(:product, :tag_ids, Tag.all, :id, :name ) do |b|
						%br
						= b.label class: "label-checkbox" do
							=b.check_box + b.text

			.box
				%p
					%hr
						%h3 Инфографика товара
				%p
					Главная инфографика (на всю ширину)
					-unless @product.main_infographic.blank?
						=image_tag @product.main_infographic.url(:thumb_small)
					=f.file_field :main_infographic
				%p
					Картинка таблицы размеров
					-unless @product.table_infographic.blank?
						=image_tag @product.table_infographic.url(:thumb_small)
					=f.file_field :table_infographic
				%p
					Картинка инфографики размеров
					-unless @product.sizes_infographic.blank?
						=image_tag @product.sizes_infographic.url(:thumb_small)
					=f.file_field :sizes_infographic
		.col-md-3