-if object.errors.any?
  .panel.panel-warning
    .panel-heading
      %i.fa.fa-warning
      Warning - Errors
    .panel-body
      %ul
        -object.errors.each do |attribute, message| 
          %li
            ="#{object.class.human_attribute_name(attribute)} - #{message}"

.row
  .col-lg-12
    =form_for [:admin, object], :html => {:class => "form-horizontal"} do |f|
      .tabs-container
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#tab-1"}
              Главные поля
        .tab-content
          #tab-1.tab-pane.active
            .panel-body
              -if object.respond_to?(:name)
                .form-group
                  %label.col-sm-2.control-label
                    Наименование
                  .col-sm-10
                    =f.text_field :name, class: 'form-control'
                .hr-line-dashed
              -if object.respond_to?(:title)
                .form-group
                  %label.col-sm-2.control-label
                    Название
                  .col-sm-10
                    =f.text_field :title, class: 'form-control'
                .hr-line-dashed
              -if object.respond_to?(:body)
                .form-group
                  %label.col-sm-2.control-label
                    Текст
                  .col-sm-10
                    =f.bootsy_area :body, class: 'form-control', rows: 8
                .hr-line-dashed

              =render partial: "admin/shared/form/static_page_fields", locals: { object: object, f: f }
              =render partial: "admin/shared/form/delivery_fields", locals: { object: object, f: f }
              =render partial: "admin/shared/form/order_fields", locals: { object: object, f: f }
      

            .hr-line-dashed
              .form-group
                .col-sm-4.col-sm-offset-2
                  =link_to "Назад", send("admin_#{local_assigns[:namespace]}#{object_name(object).pluralize}_path"), class: 'btn btn-white'
                  =f.submit "Сохранить", class: 'btn btn-primary'

    