-if object.respond_to?(:placement)
  .form-group
    %label.col-sm-2.control-label
      Где разместить страницу?
    .col-sm-10
      =f.select(:placement, Rails.application.config.placements.collect {|p| [ p[1], p[0] ] }, { include_blank: true }, class: 'form-control')
  .hr-line-dashed