%h1
	Раздел: Мощность

%p 
	Все мощности
%p
	-@powers.each do |power|
		=power.value
		=link_to "Редактировать", edit_admin_power_path(power)
		%br

%p
	=link_to "Создать новую мощность", new_admin_power_path