=render partial: 'admin/shared/header', locals: { item: 'мощность'}
=render partial: 'admin/shared/listing_items', collection: @powers, as: :item
=render partial: 'admin/shared/footer', locals: { item: 'power' }