#shop-widgets-filters.shop-widgets-filters
	#widget-area.widget-area
		.widget.woocommerce.widget_product_categories
			%h3.widget-title Категории
			%ul
				%li.active
					=link_to 'Все товары', products_path
				-Category.all.each do |category|
					%li
						=link_to category.name, products_path(category: category.name)
		/ /.widget
		=form_for :product, method: 'get', url: products_path do |f|
			.widget.woocommerce
				%h3.widget-title Мощность
				.widget-content
					%label.label-select
						=f.select(:voltage, options_from_collection_for_select(Power.all, :value, :value),{}, { class: "form-control" })
			=f.submit 'Отфильтровать', class: 'btn btn-lg btn-primary'