.main-header.background.background-image-heading-products
	.container
		%h1 Список товаров
#breadcrumb
	.container
		%ol.breadcrumb
			%li
				=link_to 'Главная', root_path
			%li.active
				%span Список товаров

.container
	.row
		.col-md-9.col-md-push-3
			.product-header-actions
				%form.form-inline{:action => "product-grid.html", :method => "POST"}
					.row
						.col-md-4.col-sm-6
							.view-icons
								/ %a.view-icon{:href => "#"}
								/ 	%span.icon.icon-th
								%a.view-icon.active{:href => "#"}
									%span.icon.icon-th-list
							.view-count
								%span.text-muted
									Всего
									=@products.count
									="товар#{russianize(@products.count)}"
						.col-md-8.col-sm-6.col-xs-12
							.form-show-sort
								.form-group.pull-left
									%label{:for => "p_show"} Показать
									%select#p_show.form-control.input-sm{:name => "p_show"}
										%option{:value => ""} 10
										%option{:value => ""} 25
										%option{:value => ""} 50
									%strong на странице
								/ /.form-group
								.form-group.pull-right.text-right
									%label{:for => "p_sort_by"} Сортировать
									%select#p_sort_by.form-control.input-sm{:name => "p_sort_by"}
										%option{:value => ""} Lastest
										%option{:value => ""} Recommend
								/ /.form-group
					/ /.row
			/ /.product-header-actions
			.products
				-@products.each do |product|
					.col-md-12
						.product.product-list
							.product-media
								.product-transistor-thumbnail
									=link_to product do
										=image_or_default(product, :store_front)
								/ /.product-thumbnail
								.product-hover
									.product-actions
										%button
											%span.icon.icon-shopping-bag
										%button
											%span.icon.icon-star
										%button
											%span.fa.fa-eye
								/ /.product-hover
								%span.product-label.hot
									%span hot
							/ /.product-media
							.product-body
								%h2.product-name
									=link_to product.name, product, title: product.name
								/ /.product-product
								.product-category
									%span 
										=product.category.name
								/ /.product-category
								.product-price
									%span.amount
										от
										=product.options.first.price
										="\u20BD".encode('utf-8')
								/ /.product-price
								.product-stars
									%span.rating
										%span.star
										%span.star
										%span.star
										%span.star
										%span.star
								.product-description
									%p
										=product.intro_text.html_safe
								.product-list-actions
									/ %button.btn.btn-lg.btn-primary Add to cart
									=link_to product do
										%button.btn.btn-lg.btn-dark.btn-outline Просмотреть
								/ /.product-actions
							/ /.product-body
						/ /.product
			%ul.pagination
				%li.pagination-prev
					%a{:href => "#"}
						%i.icon.icon-arrow-prev
				%li
					%a{:href => "#"} 1
				%li.active
					%a{:href => "#"} 2
				%li
					%a{:href => "#"} 3
				%li
					%a{:href => "#"} 4
				%li
					%a{:href => "#"} 5
				%li
					%span ...
				%li
					%a{:href => "#"} 15
				%li.pagination-next
					%a{:href => "#"}
						%i.icon.icon-arrow-next
			/ ./pagination
		/ /.col-*
		.col-md-3.col-md-pull-9
			=render 'left_menu'