- meta title: @product.to_title
- meta keywords: @product.to_keywords

.main-header.background.background-image-heading-product
  .container
    %h1
      =@product.category.name
#breadcrumb
  .container
    %ol.breadcrumb
      %li
        =link_to 'Главная', root_path
      %li.active
        %span
          =@product.category.name
.container
  .row
    .col-md-6
      .product-slider-wrapper.thumbs-bottom
        .swiper-container.product-slider-main
          .swiper-wrapper
            -@product.images.each do |pic|
              .swiper-slide
                .easyzoom.easyzoom--overlay
                  =link_to pic.image.url(:detail_pic), title: pic.image.url do
                    =image_tag pic.image.url(:detail_pic)
          .swiper-button-prev
            %i.fa.fa-chevron-left
          .swiper-button-next
            %i.fa.fa-chevron-right
        / /.swiper-container
        .swiper-container.product-slider-thumbs
          .swiper-wrapper
            -@product.images.each do |pic|
              .swiper-slide
                =image_tag pic.image.url(:thumb_small)
        / /.swiper-container
      / /.product-slider-wrapper
    .col-md-6
      %nav.pnav
        .pull-right
          %a.btn.btn-sm.btn-arrow.btn-default{:href => "#"}
            %i.fa.fa-chevron-left
          %a.btn.btn-sm.btn-arrow.btn-default{:href => "#"}
            %i.fa.fa-chevron-right
        =link_to products_path, class: "back-to-pcate" do
          %i.fa.fa-chevron-left
          %span Назад
      / /header
      .product-details-wrapper
        =form_for :line_item, url: line_items_path(product_id: @product.id), remote: true do |f|
          %h2.product-name
            =link_to @product.name, '#', title: @product.name
          / /.product-name
          .product-status
            %span In Stock
            %span -
            %small SKU: 12345678
          / /.product-status
          .product-stars
            %span.rating
              %span.star
              %span.star
              %span.star
              %span
              %span
          / /.product-stars
          .product-description
            %p
              =@product.intro_text.html_safe
          / /.product-description
          .product-features
            #product-infomation.tab-pane{:role => "tabpanel"}
              %ul
                %li
                  %span Напряжение
                  %span.value
                    =@product.voltage
                    В
                %li
                  %span Ток (сила)
                  %span.value
                    =@product.electric_current
                    А
                %li
                  %span Доступные мощности
                  %span.value
                    -@product.options.each do |option|
                      =sprintf("%.0f", option.power)
                      ="," unless option == @product.options.last
          / /.product-features
          .product-actions-wrapper
            %form{:action => "product-quick-view.html", :method => "POST"}
              .row
                .col-md-12
                  .form-group
                    %label{:for => "p_color"} Выберите необходимую мощность
                    =select_tag "voltage[]", options_from_collection_for_select(@product.options, "price", "power"), id: 'select_voltage', class: 'form-control'
            / /.form
            .product-list-actions
              %span.product-price
                %span.amount#priceValue
                  60
                ="\u20BD".encode('utf-8')
                / %del.amount 
                /   $120
              =f.submit 'В корзину', class: 'btn btn-lg btn-primary', id: 'add_to_cart'
              / =button_to 'В корзину', line_items_path(product_id: @product, sellprice: params[:voltage]), class: 'btn btn-lg btn-primary'
            / /.product-list-actions
          / /.product-actions-wrapper
          .product-meta
            %span.product-category
              %span Категория:
              =link_to @product.category.name, "#"
            %span -
            %span.product-tags
              %span 
                Тэги:
                =@product.tags.map{|p| p.name}.join(", ")
              / %a{:href => "#", :title => ""} Jacket
          / /.product-meta
        / /.product-details-wrapper
  .product-socials
    %ul.list-socials
      %li
        %a{"data-toggle" => "tooltip", :href => "#", :title => "Twitter"}
          %i.icon.icon-twitter
      %li
        %a{"data-toggle" => "tooltip", :href => "#", :title => "Facebook"}
          %i.icon.icon-facebook
      %li
        %a{"data-toggle" => "tooltip", :href => "#", :title => "Dot-Dot"}
          %i.icon.icon-dot-dot
      %li
        %a{"data-toggle" => "tooltip", :href => "#", :title => "Google+"}
          %i.icon.icon-google-plus
      %li
        %a{"data-toggle" => "tooltip", :href => "#", :title => "Pinterest"}
          %i.icon.icon-pinterest
  / /.product-socials
  .product-details-left
    .product-details{:role => "tabpanel"}
      %nav
        %ul.nav{:role => "tablist"}
          %li.active{:role => "presentation"}
            %a{"data-toggle" => "tab", :href => "#product-description"} Описание
        / /.nav
      / /nav
      .tab-content
        #product-description.tab-pane.active{:role => "tabpanel"}
          %p
            =@product.description.html_safe
  .relared-products
    .relared-products-header.margin-bottom-50
      %h3.upper Товары, которые вас могут заинтересовать
    .products.owl-carousel{"data-items" => "4"}
      -@similar_products.each do |product|
        .product.product-grid
          .product-media
            .product-thumbnail
              =link_to product do
                =image_or_default(product, thumb: :detail_pic, which_one: 'first', class: 'current')
                =image_or_default(product, thumb: :detail_pic, which_one: 'second')
            / /.product-thumbnail
            .product-hover
              .product-actions
                %a.awe-button.product-add-cart{"data-toggle" => "tooltip", :href => "#", :title => "Add to cart"}
                  %i.icon.icon-shopping-bag
                %a.awe-button.product-quick-whistlist{"data-toggle" => "tooltip", :href => "#", :title => "Add to whistlist"}
                  %i.icon.icon-star
                %a.awe-button.product-quick-view{"data-toggle" => "tooltip", :href => "product-quick-view.html", :title => "Quickview"}
                  %i.icon.icon-eye
            / /.product-hover
            %span.product-label.hot
              %span hot
          / /.product-media
          .product-body
            %h2.product-name
              =link_to product.name, product, title: product.name
            / /.product-product
            .product-category
              %span
                =product.category.name
            / /.product-category
            .product-price
              %span.amount
                от
                =product.options.first.price
                ="\u20BD".encode('utf-8')
            / /.product-price
          / /.product-body
        / /.product
  / /.related-products
:javascript
  $(function() { aweProductRender(true); });