-Cart.find(session[:cart_id]).line_items.each do |item|
  %li
    .whishlist-item
      .product-image
        =link_to item.product do
          =image_tag item.product.images.first.image.url 
      .product-body
        .whishlist-name
          %h3
            =link_to item.product.name, item.product
        .whishlist-price
          %span Цена:
          %strong
            =item.sellprice
            ="\u20BD".encode('utf-8')
        .whishlist-quantity
          %span Кол-во:
          %span
            =item.quantity
    %a.remove{:href => "#", :title => ""}
      %i.icon.icon-remove