.footer-copyright
  .container
    .copyright
      %p Все права защищены &copy; 2017 Транзистор.
    .footer-nav
      %nav
        %ul
          %li
            %a{:href => "#", :title => ""} Связаться с нами
          %li
            %a{:href => "#", :title => ""} Условия пользования
          %li
            %a{:href => "#", :title => ""} Политика безопасности
          %li
            %a{:href => "#", :title => ""} Site Map