.footer-copyright
  .container
    .copyright
      %p="Все права защищены #{"\u00A9".html_safe} 2017 #{Setting.first.title}."
    .footer-nav
      %nav
        %ul
          -StaticPage.footer.each do |static_page|
            %li
              =link_to static_page.title, static_page_path(static_page)