#wrapper.main-wrapper
  %header#header.awe-menubar-header.header-style-2
    .header-top
      .container
        .header-top-relative
          %nav.navtop
            .header-contact
              %p Phone 1: 8 (495) 989-20-11
              %p Phone 2: 8 (800) 989-05-26
              %p.text-muted Open - Close: 09:00 - 21:00
            %ul.navbar-icons
              %li.menubar-account
                %a.awemenu-icon{:href => "#", :title => ""}
                  %i.icon.icon-user-circle
                  %span.awe-hidden-text Account
                %ul.submenu.megamenu
                  %li
                    .container-fluid
                      .header-account
                        .header-account-avatar
                          %a{:href => "#", :title => ""}
                            %img.img-circle{:alt => "", :src => "./img/samples/avatars/customers/1.jpg"}/
                        .header-account-username
                          %h4
                            %a{:href => "#"} Jessica Alba
                        %ul
                          %li
                            %a{:href => "#"} Invite Friends
                          %li
                            %a{:href => "#"} Account Infomation
                          %li
                            %a{:href => "#"} Logout
              %li.menubar-wishlist
                %a.awemenu-icon{:href => "#", :title => ""}
                  %i.icon.icon-star
                  %span.awe-hidden-text Wishlist
                %ul.submenu.megamenu
                  %li
                    .container-fluid
                      %ul.whishlist
                        %li
                          .whishlist-item
                            .product-image
                              %a{:href => "#", :title => ""}
                                %img{:alt => "", :src => "./img/samples/products/cart/1.jpg"}/
                            .product-body
                              .whishlist-name
                                %h3
                                  %a{:href => "#", :title => ""} Gin Lane Greenport Cotton Shirt
                              .whishlist-price
                                %span Price:
                                %strong $120
                          %a.remove{:href => "#", :title => ""}
                            %i.icon.icon-remove
                        %li
                          .whishlist-item
                            .product-image
                              %a{:href => "#", :title => ""}
                                %img{:alt => "", :src => "./img/samples/products/cart/2.jpg"}/
                            .product-body
                              .whishlist-name
                                %h3
                                  %a{:href => "#", :title => ""} Gin Lane Greenport Cotton Shirt
                              .whishlist-price
                                %span Price:
                                %strong $120
                          %a.remove{:href => "#", :title => ""}
                            %i.icon.icon-remove
                        %li
                          .whishlist-item
                            .product-image
                              %a{:href => "#", :title => ""}
                                %img{:alt => "", :src => "./img/samples/products/cart/3.jpg"}/
                            .product-body
                              .whishlist-name
                                %h3
                                  %a{:href => "#", :title => ""} Gin Lane Greenport Cotton Shirt
                              .whishlist-price
                                %span Price:
                                %strong $120
                          %a.remove{:href => "#", :title => ""}
                            %i.icon.icon-remove
                      %hr/
                      .whishlist-action
                        %a.btn.btn-dark.btn-lg.btn-outline.btn-block{:href => "#", :title => ""} View Wishlist
              %li.menubar-cart
                %a.awemenu-icon.menu-shopping-cart{:href => "#", :title => ""}
                  %i.icon.icon-shopping-bag
                  %span.awe-hidden-text Cart
                  %span.cart-number 2
                %ul.submenu.megamenu
                  %li
                    .container-fluid
                      %ul.whishlist
                        %li
                          .whishlist-item
                            .product-image
                              %a{:href => "#", :title => ""}
                                %img{:alt => "", :src => "./img/samples/products/cart/1.jpg"}/
                            .product-body
                              .whishlist-name
                                %h3
                                  %a{:href => "#", :title => ""} Gin Lane Greenport Cotton Shirt
                              .whishlist-price
                                %span Price:
                                %strong $120
                              .whishlist-quantity
                                %span Quantity:
                                %span 1
                          %a.remove{:href => "#", :title => ""}
                            %i.icon.icon-remove
                        %li
                          .whishlist-item
                            .product-image
                              %a{:href => "#", :title => ""}
                                %img{:alt => "", :src => "./img/samples/products/cart/2.jpg"}/
                            .product-body
                              .whishlist-name
                                %h3
                                  %a{:href => "#", :title => ""} Gin Lane Greenport Cotton Shirt
                              .whishlist-price
                                %span Price:
                                %strong $120
                              .whishlist-quantity
                                %span Quantity:
                                %span 1
                          %a.remove{:href => "#", :title => ""}
                            %i.icon.icon-remove
                      .menu-cart-total
                        %span Total
                        %span.price $180
                      .cart-action
                        %a.btn.btn-lg.btn-dark.btn-outline.btn-block{:href => "cart.html", :title => ""} View cart
                        %a.btn.btn-lg.btn-primary.btn-block{:href => "checkout.html", :title => ""} Proceed To Checkout
            .policy-header
              .policy
                .policy-icon
                  %i.icon.icon-dolar-circle
                .policy-text
                  %h4 100% Money back
                  %p Guarantee
              / /.policy
              .policy
                .policy-icon
                  %i.icon.icon-car
                .policy-text
                  %h4 Free shipping
                  %p On order over 500$
              / /.policy
              .policy
                .policy-icon
                  %i.icon.icon-telephone
                .policy-text
                  %h4 24-hour
                  %p active support
              / /.policy

    %nav.awemenu-nav.headroom{"data-responsive-width" => "1200"}
      .container
        .awemenu-container
          .navbar-header
            %ul.navbar-icons
              %li.menubar-cart
                %a.awemenu-icon.menu-shopping-cart{:href => "#", :title => ""}
                  %i.icon.icon-shopping-bag
                  %span.awe-hidden-text Cart
                  %span.cart-number 2
                #cart_id
                  -if session[:cart_id]
                    =render 'shared/cart'
            %ul.navbar-search
              %li
                %a#open-search-form.awemenu-icon.awe-menubar-search{:href => "#", :title => ""}
                  %span.sr-only Search
                  %span.icon.icon-search
                #menubar-search-form.menubar-search-form
                  =form_tag url_for(controller: 'search_results'), method: :get do
                    %input.form-control{:name => "search", :placeholder => "Введите поисковое значение...", :type => "text"}
                      .menubar-search-buttons
                        =submit_tag 'Искать', class: 'btn btn-sm btn-white'
                        %button#close-search-form.btn.btn-sm.btn-white{:type => "button"}
                          %span.icon.icon-remove
                / /.menubar-search-form
          .awe-logo
            =link_to root_path, method: :get do
              =image_or_default(Setting.first, image_name: :logo, thumb: 'thumb')
          / /.awe-logo
          %ul.awemenu.awemenu-right
            -Category.all.each do |category|
              %li.awemenu-item
                %a{:href => "#", :title => ""}
                  %span
                    =category.name
                %ul.awemenu-submenu.awemenu-megamenu{"data-animation" => "fadeup", "data-width" => "100%"}
                  %li.awemenu-megamenu-item
                    .container-fluid
                      .awemenu-megamenu-wrapper
                        .row
                          .col-lg-3
                            %h2.upper.padding-bottom-40
                              =category.name


                          -category.subcategories.in_groups_of(5, false).each do |group_of_five|
                            .col-lg-3
                              %ul.sublist
                                -group_of_five.each do |subcategory|
                                  %li
                                    =link_to subcategory.name, products_path(category: category.name, subcategory: subcategory.name)
                        .bottom-link
                          =link_to products_path(category: category.name), class: 'btn btn-lg btn-dark btn-outline' do
                            %span
                              Все товары