%footer.footer
  .footer-wrapper
    .footer-widgets
      .container
        .row
          .col-md-3
            .row
              .widget
                %h3.widget-title О МАГАЗИНЕ
                .widget-content
                  %p
                    =setting("about")
          .col-md-3.col-sm-6
            .widget
              %h3.widget-title Магазин
              %ul
                -Subcategory.all.each do |subcat|
                  %li
                    =link_to subcat.name, products_path(category: subcat.category.name, subcategory: subcat.name)
          .col-md-3.col-sm-6
            .widget
              %h3.widget-title КАК ВАМ ПОМОЧЬ?
              .widget-content
                =setting("how_may_we_help").html_safe
                
          .col-md-3
            .widget
              %h3.widget-title Мы в соцсетях
              %ul.list-socials
                -setting('social_media').each do |key, value|
                  -unless value.empty?
                    %li
                      =link_to value do
                        ="<i class='fa fa-#{key}'></i>".html_safe
            .widget
              %h3.widget-title Мы принимаем



              %ul.list-socials
                %li
                  %a{:href => "#", :title => ""}
                    %i.fa.fa-cc-paypal
                %li
                  %a{:href => "#", :title => ""}
                    %i.fa.fa-cc-visa
                %li
                  %a{:href => "#", :title => ""}
                    %i.fa.fa-cc-amex
            / /.widget
      =render 'layouts/footer'
      %a.back-top{:href => "#", :title => ""}
        %span.back-top-image
          =image_tag 'back-top.png'
        %small Вверх