%footer.footer
  .footer-wrapper
    .footer-widgets
      .container
        .row
          .col-md-4
            .row
              .col-md-12.col-sm-6
                .widget
                  %h3.widget-title О МАГАЗИНЕ
                  .widget-content
                    %p
                      =setting("about")
              .col-md-12.col-sm-6
                .widget
                  %h3.widget-title КАК ВАМ ПОМОЧЬ?
                  .widget-content
                    %p 
                      Тел. 1:
                      =setting("phone1")
                    %p 
                      Тел. 2:
                      =setting("phone2")
                    %p 
                      Время работы :
                      =setting("opening")
                    %p 
                      Почта:
                      =setting("mail")
                / /.widget
          .col-md-2.col-sm-6
            .widget
              %h3.widget-title Магазин
              %ul
                %li
                  %a{:href => "#", :title => ""} Ваша корзина
                %li
                  %a{:href => "#", :title => ""} Ваши заказы
                %li
                  %a{:href => "#", :title => ""} Товары для сравнения
                %li
                  %a{:href => "#", :title => ""} Лист пожеланий
                %li
                  %a{:href => "#", :title => ""} Доставка
            / /.widget
          .col-md-2.col-sm-6
            .widget
              %h3.widget-title Полезные ссылки
              %ul
                %li
                  %a{:href => "#", :title => ""} Блог
                %li
                  %a{:href => "#", :title => ""} Подарки
                %li
                  %a{:href => "#", :title => ""} Гайды
                %li
                  %a{:href => "#", :title => ""} Новые поступления
                %li
                  %a{:href => "#", :title => ""} Полезное
            / /.widget
          .col-md-4
            .widget
              %h3.widget-title Мы в соцсетях
              %ul.list-socials
                -setting('social_media').each do |key, value|
                  -unless value.empty?
                    %li
                      =link_to value do
                        ="<i class='fa fa-#{key}'></i>".html_safe
            .widget
              %h3.widget-title Мы принимаем



              %ul.list-socials
                %li
                  %a{:href => "#", :title => ""}
                    %i.fa.fa-cc-paypal
                %li
                  %a{:href => "#", :title => ""}
                    %i.fa.fa-cc-visa
                %li
                  %a{:href => "#", :title => ""}
                    %i.fa.fa-cc-amex
            / /.widget
      =render 'layouts/footer'
      %a.back-top{:href => "#", :title => ""}
        %span.back-top-image
          =image_tag 'back-top.png'
        %small Вверх